body{

}

#fond{
  width: 1000px;
  margin: 0px auto 0px auto;
}

#titre{
  width:100%;
  margin: 5px;
  text-align: center;
}
#titre span{
  font-family: Helvetica;
  font-weight:bold;
  font-size: 22pt;
  text-shadow: 5px 5px 5px #FF0000;
}


/*-----------------------*/
/*   Gestion du menu */
/*-----------------------*/
#menu{
  width: 100%;
  margin: 10px auto 0px auto;
}

#menu a{
  text-decoration:none;
}

ul#lemenu{
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  height:37px;
}
ul#lemenu li{
  display: inline;
}


/*-----------------------*/

#contenu{
  width:20%;
  min-height: 40px;
  border:2px solid;
  border-color: #40AAD4;
  background-color: #B3FF99;
}ul#lemenu li

#affichage{
  width:20%;
  min-height: 40px;
  border:2px solid;
  border-color: #40AAD4;
  background-color: #B3FF99;
  position: absolute;
  left: 500px;
}
#ajout{
  width:20%;
  min-height: 40px;
  border:2px solid;
  border-color: #40AAD4;
  background-color: #B3FF99;
  position: absolute;
  left: 1250px;
}

#pied{
  width: 100%;
  height: 30px;
  margin: 10px 0px 10px 0px;
  background-color: #BFBFBF;
  color: #7B7B7B;
  border:1px solid;
  border-color: #7B7B7B;
  text-align: center;
}


/*------------------------------------*/
/* style pour les boutons             */
/* inspiré du site:                   */
/* http://www.cssbuttongenerator.com/ */
/*------------------------------------*/

.btn_menu {
	-moz-box-shadow:inset 7px 1px 24px -22px #fff6af;
	-webkit-box-shadow:inset 7px 1px 24px -22px #fff6af;
	box-shadow:inset 7px 1px 24px -22px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
  border-top: 2px solid #40AAD4;
  border-right: 2px solid #40AAD4;
  border-bottom: 0px solid #40AAD4;
  border-left: 2px solid #40AAD4;
	display:inline-block;
	color:#333333;
	font-family:Arial Black;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:30px;
	width:152px;
	text-decoration:none;
	text-align:center;
}

.btn_menu:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}

.encours, .encours:hover {
	position:relative;
  height:37px;
  background:#B3FF99;
}
