#fond{

	background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
	margin:5px;
	height: 98%;
}
#titre{
	text-align:center;
	position: absolute;
	background-image:-webkit-linear-gradient(bottom, #FF0000 0%, #FF9999 100%);
	margin-top:50px;
	top: 5%; left: 50%;
	transform: translate(-50%, -50%);
 	width: 13%;
	border-radius:10px;
	font-size: 25;
}
#contenu{
	position: absolute;
	
	width: 50%;
	top: 15%; left: 50%;
	transform: translate(-50%, -0%);
	padding: 10px;
	border-radius:10px;
	border: 3px solid black;
}
#video{
	background-image:-webkit-linear-gradient(bottom, #FFFF00 0%, #FF9999 100%);
	margin-left: auto;
  	margin-right: auto;
  	width: 60%;
	padding: 10px;
	border-radius:10px;
	border: 3px solid black;
}
#presentation{
	margin-left: auto;
  	margin-right: auto;
  	width: 60%;
	padding: 10px;
	border-radius:10px;
	border: 3px solid black;
}
#boite span{
	text-align:center;
	background-color:#FF00FF;
	margin: 5px;
	display:inline-block;
	border-radius:10px;
	size:100px;
	width:10%;
	height:auto;
}