.member {
	text-align: center;
	width: 10%;
	border: solid black 1px;
	border-radius: 5px;
	margin: 5px;
}

.team {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.team_list_item {
	text-align: center;
}

h1{
	margin-bottom: 75px;
}