#blank {
	padding-top: 30px;
}

#contact_title {
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 32px 11px rgba(0,251,255,0.54); 
	box-shadow: 0px 10px 13px -7px #000000, 0px 0px 32px 11px rgba(0,251,255,0.54);
	text-align:center;
	font-family: Bonn;
	color:white;
	background-color:blue;
	width: 100%;
}

#contact_list {
	list-style-type: none;
}

#start_phrase {
	font-size: 21px;
}

#contact_list li {
	font-size: 18px;
	padding-bottom: 5px;
}

#contact_list li span {
	font-size: 16px;
}