.im_capteur {


    max-width: 40%;
    height: auto;

}


#contenu{

    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
#competences{

    text-align: center;

}

