.im_capteur {


    width:80%;
    height: auto;

}


#contenu{

    width: auto;
    
    display: block;
    align-items: center;
    

    
    
    
}


#competences{

    margin: 5%;
    max-width: 90%;
    width:fit-content;   

}
table, th, td{

    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    


}

th{

    padding:15px;
    background-color: cornflowerblue;
}

.Domain{

    text-align: left;
}

tr:hover {
    background-color:darkturquoise;
  }